{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{# <!-- header ---> #}
{% block extrahead %}
<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
{% endblock %}

{# <!-- body ---> #}
{% block content %}
<div id='map'></div>

{# <!-- script ---> #}
<script type="text/javascript">
var mapbox_access_token = "{{ mapbox_access_token }}";
</script>
{% endblock %}

{# <!-- body css ---> #}
{% block css %}
<link rel="stylesheet" href="{% static 'apps/css/apps.css' %}">
{% endblock %}

{#<!-- body javascript --->#}
{% block js %}
<script type="text/javascript" src="{% static 'apps/js/apps.js' %}"></script>
{% endblock %}
